@{
    ViewData["Title"] = "LoginAsync";
}

<h1>LoginAsync</h1>

<div>
    <p class="text-warning font-weight-bold">出现错误</p>
    <p class="text-info">用户信息已在统一用户登录中心登陆成功，但您的业务网站在跳转本用户验证中心时未携带回跳地址（returnUrl），请联系您的业务网站开发者。</p>
</div>